.container {
  height: 100%;
  width: 100%;
  background: url(https://down-vn.img.susercontent.com/file/sg-11134004-7rcel-ls9d5u60tk6ge9);
  background-color: var(--orange);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    position: absolute;
    right: 300px;
  }
}
